{% extends 'flatpages/default.html' %}
<!--{% load i18n %}-->


{% block title %}
Posts
{% endblock title %}


{% block content %}
<style>
   .outline {
    border: 3px solid red;
    padding: 10px;
   }
</style>
<h1>&nbsp;&nbsp;&nbsp;Всего принятых откликов - {{ length }}</h1>
<br>
<br>
   {% if comments %}
           {% for comment in comments %}
                {% if comment.status == True %}
                 <hr>
                 <h4>&nbsp;&nbsp;&nbsp;&nbsp;<em>Откликнулся:</em>&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.user }}</h4>

                 <div class="outline">
                     <p>{{ comment.text }}</p>
                 </div>
                 {% endif %}
           {% endfor %}


   {% else %}
       <h2>&nbsp;&nbsp;&nbsp;Откликов нет!</h2>
   {% endif %}

{% endblock content %}