<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}


{% block title %}
Post
{% endblock title %}


{% block content %}
<style>
   .outline {
    border: 3px solid green;
    padding: 10px;
   }
</style>
<h1>&nbsp;&nbsp;&nbsp;Объявление {{ post.id }}</h1>

     <h3>&nbsp;&nbsp;&nbsp;&nbsp;<em>Заголовок:</em>&nbsp;&nbsp;&nbsp;&nbsp;{{ post.title|safe }}</h3>
     <h3>&nbsp;&nbsp;&nbsp;&nbsp;<em>Дата создания:</em>&nbsp;&nbsp;&nbsp;&nbsp;{{ post.create_time|date:'d M Y' }} </h3>
     <h3>&nbsp;&nbsp;&nbsp;&nbsp;<em>Дата последней редакции:</em>&nbsp;&nbsp;&nbsp;&nbsp;{{ post.update_time|date:'d M Y' }} </h3>
     <h3>&nbsp;&nbsp;&nbsp;&nbsp;<em>Категория:</em>&nbsp;&nbsp;&nbsp;&nbsp;{{ post.category }}</h3>
     <div class="outline">
         <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ post.text|safe }}</p>
     </div>
<br>

     <button><a href="/{{ post.id }}">Создать отклик</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <button><a href="/comments/{{ post.id }}">Все принятые отклики</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <button><a href="/post/{{ post.id }}/edit/">Редактировать объявление</a></button>

{% endblock content %}