{% extends "main.html" %}

{% block content %}
<h2>Личный кабинет пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>
<hr>
<form action="" method="get">
    {{ filter.form }}
    <input type="submit" value='Найти'>
</form>
<button> <a href="/"> Сброс фильтра </a></button>
<hr>
<h3>Отклики на данное объявление</h3>
{% if comments %}
{% for comment in comments %}
{{ comment.user }}
{{ comment.text }}
{% endfor %}
{% end if %}
<button> <a href="sign/logout/">Выйти</a> </button>
{% endblock %}